Source: php-spojenet-pohoda-sql
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, appstream
Standards-Version: 4.6.2
Homepage: https://github.com/Spoje-NET/PohodaSQL
Rules-Requires-Root: no
Vcs-Git: https://github.com/Spoje-NET/PohodaSQL.git
Vcs-Browser: https://github.com/Spoje-NET/PohodaSQL

Package: php-spojenet-pohoda-sql
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, php-vitexsoftware-ease-fluentpdo
Suggests: php-sql-server, php-vitexsoftware-pohoda-connector
Description: PHP Library for Pohoda SQL Tables access
 Set Of Classes for Pohoda SQL
